! urxvt

URxvt*geometry:                53x20
!URxvt*font:  xft:DejaVu Sans Mono:pixelsize=10
URxvt*font: xft:Tamsyn-10:pixelsize=10
!xft:terminus:pixelsize=8
URxvt*depth:                32
!URxvt.background:            [85]#0d0d0d
URxvt*background: rgba:0000/0000/0200/c800
URxvt*foreground:            [100]#7b7b7b
URxvt*borderLess:   False
URxvt*scrollBar:    False
URxvt*cursorBlink:   True
!URxvt*transparent:   True
!URxvt*shading: 30
URxvt*tintColor:   #494949
URxvt*saveLines:  5000
URxvt*termName:    rxvt-unicode
URxvt*fading:   15
URxvt.perl-ext-common: default,matcher
URxvt.urlLauncher: firefox 
URxvt.matcher.button: 2
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

! Set terminal padding
URxvt.internalBorder: 20

! Enables copy/paste with Ctrl-Shift-C/V
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.perl-ext-common: default,clipboard
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste




!Pnevma1
!black
*color0: #282a2e
*color8: #373b41
!red
*color1: #752121
*color9: #d73434
!green
*color2: #66a029
*color10: #94bd68
!yellow
*color3: #953d00
*color11: #f6af23
!blue
*color4: #124b7a
*color12: #4b7294
!magenta
*color5: #17664c
*color13: #447c5b
!cyan
*color6: #47615e
*color14: #457c75
!white
*color7: #1c344b
*color15: #598367

!Pnevma2 - A heavy mod of the original.
!*color0: #2F2E2D
!*color8: #4A4845
!*color1: #C37561
!*color9: #D19485
!*color2: #A0A57E
!*color10: #B6B99D
!*color3: #D1A375
!*color11: #DEBC9C
!*color4: #7985A3
!*color12: #98A1B9
!*color5: #AB716D
!*color13: #BE918E
!*color6: #98B9B1
!*color14: #CBE6CB
!*color7: #D0D0D0
!*color15: #EFEFEF

!!! This one matches image URLs and open them in FEH
URxvt*matcher.pattern.1:    
\\https?:\/\/[\\w-.]*\/[\\w./?&@#-]*.(jpg|jpeg|png)
URxvt*matcher.launcher.1:    feh $0

!Yankable URLs
URxvt.perl-ext: default,url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

